body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f6f8;
        }
header {
            background-color: #2c3e50;
            color: white;
            text-align: center;
            padding: 20px;
        }

        header h1 {
            margin: 0px;
        }
        .blog-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            gap: 20px;
        }

        .blog-card {
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            box-sizing: border-box;
            flex: 1 1 30%;
            min-width: 250px;
            transition: transform 0.3s;
        }

        .blog-card h2 {
            color: #2c3e50;
            margin-top: 0;
        }

        .read-more {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 15px;
            background-color: #081016;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        .read-more:hover {
            background-color: #2980b9;
    
        }

