@{
    ViewData["Title"] = "Student Details";
}

<h3>
    Submitted Student Details
</h3>

<hr />

<p><strong>Name:</strong>@ViewBag.StudentName</p>
<p><strong>Age:</strong>@ViewBag.Age</p>
<p><strong>Course:</strong>@ViewBag.Course</p>
