body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#f4f6f8;
    padding: 0;
    margin: 0;

}

header{
    color : white;
    background-color:#2c3e50 ;
    padding: 12px;
    margin: 5px;
}

main{
    background-color: white;
    width: 350px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.3);
}

input[type="number"]{
    margin-top: 10px;
    padding: 10px;

}

input[type="button"]:hover{
    text-decoration: solid;
    background-color: lightblue;
    padding: 5px;
    border-radius: 10px;

}
h3{
    background-color: aliceblue;
}
p{
    background-color:lightgrey;
}