body {
    font-family: Arial;
    font-size: 20px;
    background-color: rgb(37, 181, 186);
    margin: 0;
}
header {
    background-color: rgba(69, 69, 178, 0.462);
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: rgba(96, 83, 145, 0.976);
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}



/* Mobile styles */
@media screen and (max-width: 500px) {

    body {
        background-color: lightgreen;
        font-size: 10px; 
    }
    nav {
        text-align: left;
    }
    nav a {
        display: block; 
        margin: 5px 0;
    }


}