@model WebApplication1.Models.Product

<h2>Product Details</h2>

Id : @Model.Id
<br />
Name : @Model.Name
<br />
Price : @Model.Price
<br />
Category : @Model.Category
<br />

<br />

<a href="/Product/Index">Back to List</a>